step_functions/state_machine.asl.json
{
  "Comment": "Music ETL pipeline — validate → transform → load, with quarantine on failure. Uses SDK polling (startJobRun + getJobRun) instead of .sync:2 for broad regional compatibility.",
  "StartAt": "StartValidate",

  "States": {

    "StartValidate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startJobRun",
      "Parameters": {
        "JobName": "${glue_validate_job}",
        "Arguments": {
          "--bucket.$":     "$.bucket",
          "--source_key.$": "$.source_key",
          "--result_key.$": "$.result_key"
        }
      },
      "ResultSelector": { "JobRunId.$": "$.JobRunId" },
      "ResultPath": "$.validate_job",
      "Next": "WaitForValidate",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MoveToQuarantine"
        }
      ]
    },

    "WaitForValidate": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "CheckValidateStatus"
    },

    "CheckValidateStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
      "Parameters": {
        "JobName": "${glue_validate_job}",
        "RunId.$": "$.validate_job.JobRunId"
      },
      "ResultSelector": { "State.$": "$.JobRun.JobRunState" },
      "ResultPath": "$.validate_status",
      "Next": "ValidateChoice"
    },

    "ValidateChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validate_status.State",
          "StringEquals": "SUCCEEDED",
          "Next": "StartTransform"
        },
        {
          "Variable": "$.validate_status.State",
          "StringEquals": "FAILED",
          "Next": "MoveToQuarantine"
        },
        {
          "Variable": "$.validate_status.State",
          "StringEquals": "ERROR",
          "Next": "MoveToQuarantine"
        },
        {
          "Variable": "$.validate_status.State",
          "StringEquals": "TIMEOUT",
          "Next": "MoveToQuarantine"
        },
        {
          "Variable": "$.validate_status.State",
          "StringEquals": "STOPPED",
          "Next": "MoveToQuarantine"
        }
      ],
      "Default": "WaitForValidate"
    },

    "StartTransform": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startJobRun",
      "Parameters": {
        "JobName": "${glue_transform_job}",
        "Arguments": {
          "--bucket.$":        "$.bucket",
          "--source_key.$":    "$.source_key",
          "--songs_key.$":     "$.songs_key",
          "--output_prefix.$": "$.output_prefix"
        }
      },
      "ResultSelector": { "JobRunId.$": "$.JobRunId" },
      "ResultPath": "$.transform_job",
      "Next": "WaitForTransform",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "TransformFailed"
        }
      ]
    },

    "WaitForTransform": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckTransformStatus"
    },

    "CheckTransformStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
      "Parameters": {
        "JobName": "${glue_transform_job}",
        "RunId.$": "$.transform_job.JobRunId"
      },
      "ResultSelector": { "State.$": "$.JobRun.JobRunState" },
      "ResultPath": "$.transform_status",
      "Next": "TransformChoice"
    },

    "TransformChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.transform_status.State",
          "StringEquals": "SUCCEEDED",
          "Next": "StartLoad"
        },
        {
          "Variable": "$.transform_status.State",
          "StringEquals": "FAILED",
          "Next": "TransformFailed"
        },
        {
          "Variable": "$.transform_status.State",
          "StringEquals": "ERROR",
          "Next": "TransformFailed"
        },
        {
          "Variable": "$.transform_status.State",
          "StringEquals": "TIMEOUT",
          "Next": "TransformFailed"
        },
        {
          "Variable": "$.transform_status.State",
          "StringEquals": "STOPPED",
          "Next": "TransformFailed"
        }
      ],
      "Default": "WaitForTransform"
    },

    "StartLoad": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startJobRun",
      "Parameters": {
        "JobName": "${glue_load_job}",
        "Arguments": {
          "--bucket.$":       "$.bucket",
          "--input_prefix.$": "$.output_prefix",
          "--table_kpis":     "${table_kpis}",
          "--table_songs":    "${table_songs}",
          "--table_genres":   "${table_genres}"
        }
      },
      "ResultSelector": { "JobRunId.$": "$.JobRunId" },
      "ResultPath": "$.load_job",
      "Next": "WaitForLoad",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "LoadFailed"
        }
      ]
    },

    "WaitForLoad": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckLoadStatus"
    },

    "CheckLoadStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
      "Parameters": {
        "JobName": "${glue_load_job}",
        "RunId.$": "$.load_job.JobRunId"
      },
      "ResultSelector": { "State.$": "$.JobRun.JobRunState" },
      "ResultPath": "$.load_status",
      "Next": "LoadChoice"
    },

    "LoadChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.load_status.State",
          "StringEquals": "SUCCEEDED",
          "Next": "ArchiveFile"
        },
        {
          "Variable": "$.load_status.State",
          "StringEquals": "FAILED",
          "Next": "LoadFailed"
        },
        {
          "Variable": "$.load_status.State",
          "StringEquals": "ERROR",
          "Next": "LoadFailed"
        },
        {
          "Variable": "$.load_status.State",
          "StringEquals": "TIMEOUT",
          "Next": "LoadFailed"
        },
        {
          "Variable": "$.load_status.State",
          "StringEquals": "STOPPED",
          "Next": "LoadFailed"
        }
      ],
      "Default": "WaitForLoad"
    },

    "ArchiveFile": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Parameters": {
        "Bucket.$":      "$.bucket",
        "CopySource.$":  "States.Format('{}/{}', $.bucket, $.source_key)",
        "Key.$":         "States.Format('processed/streams/{}', States.ArrayGetItem(States.StringSplit($.source_key, '/'), 2))"
      },
      "ResultPath": null,
      "Next": "DeleteRawFile"
    },

    "DeleteRawFile": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "Parameters": {
        "Bucket.$": "$.bucket",
        "Key.$":    "$.source_key"
      },
      "ResultPath": null,
      "Next": "PipelineSucceeded"
    },

    "MoveToQuarantine": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Parameters": {
        "Bucket.$":     "$.bucket",
        "CopySource.$": "States.Format('{}/{}', $.bucket, $.source_key)",
        "Key.$":        "States.Format('quarantine/streams/{}', States.ArrayGetItem(States.StringSplit($.source_key, '/'), 2))"
      },
      "ResultPath": null,
      "Next": "DeleteRawAfterQuarantine"
    },

    "DeleteRawAfterQuarantine": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "Parameters": {
        "Bucket.$": "$.bucket",
        "Key.$":    "$.source_key"
      },
      "ResultPath": null,
      "Next": "PipelineFailed"
    },

    "PipelineSucceeded": {
      "Type": "Succeed"
    },

    "TransformFailed": {
      "Type": "Fail",
      "Error": "TransformError",
      "Cause": "transform_kpis Glue job failed — check Glue job logs"
    },

    "LoadFailed": {
      "Type": "Fail",
      "Error": "LoadError",
      "Cause": "load_dynamodb Glue job failed — check Glue job logs"
    },

    "PipelineFailed": {
      "Type": "Fail",
      "Error": "ValidationFailed",
      "Cause": "File failed validation and was moved to quarantine"
    }

  }
}
